
WebShopSpace/.vs/WebShopSpace/v15/Server/sqlite3/db.lock
WebShopSpace/.vs/WebShopSpace/v15/Server/sqlite3/storage.ide
WebShopSpace/.vs/WebShopSpace/v15/Server/sqlite3/storage.ide-shm
WebShopSpace/.vs/WebShopSpace/v15/Server/sqlite3/storage.ide-wal
